.product-container {
  border: solid 5px black;
  background-color: #49d090;
  color: white;

  margin: 10px 100px;

  padding: 70px;

  border-radius: 10px;

  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
}
